<!DOCTYPE html>
{% load staticfiles %}
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css">
  <link rel="stylesheet" type="text/css" href= "{% static 'client/reset.css' %}">
  <link rel="stylesheet" type="text/css" href= "{% static 'client/fullcalendar.css' %}">
  <link rel="stylesheet" type="text/css" href= "{% static 'client/main.css' %}">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>         
  <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
  <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
  <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
  <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
  <script src='http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js'></script>
  <script type='text/javascript' src="{% static 'client/gcal.js' %}"></script>
  <script type='text/javascript' src="{% static 'client/main.js' %}"></script>

</head>

<body>
              {% if user and not user.is_anonymous %}
                <span id= 'active_user_id' value = '{{ user.id }}' hidden></span>
                <span id= 'active_user_name' value = '{{ user }}' hidden></span>

                <div class="col-sm-3 col-md-3 col-xs-4 sidenav" id="mySidenav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color:red; margin-left:8em">&times;</a>
                            <h1 class="text-center"> NEW EVENT</h1>
                    <form id="new_event_form" role="form" enctype="multipart/form-data" name="event_form" action="{% url 'client:index' %}" method="POST">
                          {% csrf_token %}
                            <li>Event Title:  {{ event_form.title }}</li>
                            <li>Start Date: {{ event_form.start }}</li>
                            <li>End Date  :  {{ event_form.end }}</li>
                            <li class="text-center"></br><input type = "checkbox" name= "all_day">All Day(s) Event</li>
                            <li>Attachment:{{ event_form.attachment }}</li>
                      <input id="new_event_button" class = "btn-primary col-xs-4 col-md-4" type="submit" value="Create Event!">
                    </form>
                </div>



                  <nav class="nav navbar text-center col-md-12" id="topnav">
                    <span class="pull-left" style="cursor:pointer; margin-left:1em" onclick="openNav()">Create Event</span>


                      <p>Hello {{ user.get_full_name|default:user.username }}!</p>

                        <div class="pull-right" id="logout_link">
                          <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
                        
                              
                                    
                        </div>
                                      
                  </nav>
                  
        <div class="col-md-12" id="main">

            {% block main %}

              

            {% endblock main %}

        </div>

        {% else %}      
        <div class="col-md-12 text-center justify" id="not_logged_in">
          <h1>Welcome to your Calender App!</h2> 
            <p>Sign in with your Facebook account below to start!</p>
          <li>
             <a class="btn btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">f        
              </br>Sign in with Facebook
            </a>

         </li>
       </div>
        {% endif %}


        
       
  <script>
 
function openNav() {
  document.getElementById("mySidenav").style.display = "block";
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("main").style.width = "75%";
  document.getElementById("main").style.marginTop= "3.5em";
  document.getElementById("topnav").style.position= "static";
  document.getElementById("topnav").style.zIndex= "0";
  }
  function closeNav() {
  document.getElementById("mySidenav").style.display = "none";
  document.getElementById("main").style.marginLeft= "0";
  document.getElementById("main").style.marginTop= "8.5vw";
  document.getElementById("main").style.width= "100%";
  document.getElementById("topnav").style.position= "fixed";
  document.getElementById("topnav").style.zIndex= "1";
  // document.getElementById("profiled_user_token_pic").style.display = "block";
  }
</script>
</body>
</html>


