
body {
margin: 40px 10px;
padding: 0;
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
font-size: 14px;
}
#topnav * {
	color:white;
	margin-top:2vw;
  z-index:100;
}
#loading {
display: none;
position: absolute;
top: 10px;
right: 10px;
}

#calendar {
max-width: 80%;
margin: 0 auto;
}
.btn-social.btn-lg :first-child{width:2vw;font-size:1.8em}
.btn-facebook{color:#fff;background-color:#3b5998}

body {
  font-family: Sans-Serif;
  margin:0 auto;
  /*height:100%;*/
}
.container-fluid {
  padding:0;
}
.sidenav {
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #43c1fb;
    overflow-x: hidden;
    display:block;
    height:100%;
}
#topnav {
  height:5vw;
  background-color:grey;
  box-shadow: 0 4px 8px 0 #396b94, 0 6px 20px 0 #396b94;
  display:block;
}
.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav .closebtn {
    position: relative;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#logout_link a{
	color:white;
	text-decoration:none;
}
#logout_link {
	margin-top:-1vw;
}

#main {
    text-align:center;
    margin-left:25%;
    /*padding: 16px;*/
    width:75%;
    /*margin-top:5em;*/
}
#main_container {
  position:relative;
  float:right;
  clear:left;
}
li {
	list-style-type:none;
}
#new_event_button {
	width:100%;
}
#new_event_form {
	position:relative;
	top: 10vw;
}

h1 {
	font-size:3vw;
}
#not_logged_in {
	position:relative;
	top:3vw;
}
#not_logged_in *{
	margin:1vw;
}
.headline {
  font-size:2vw;
}

